@import 'colors';
// Body
$body-bg: $light-gray;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: $blue;
$brand-info: $light-blue;
$brand-success: $green;
$brand-warning: $yellow;
$brand-danger: $red;

// Typography
$font-family-sans-serif: 'Raleway', sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: $gray;

// Navbar
$navbar-default-bg: $white;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: $white;
