html,
body {
  background-color: $white;
  color: $red;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.m-b-md {
  margin-bottom: 30px;
}

.links {
  a {
    &:first-child {
      color: $yellow;
    }

    &:nth-child(2) {
      color: $light-green;
    }

    &:nth-child(3) {
      color: $green;
    }

    &:nth-child(4) {
      color: $light-blue;
    }

    &:last-child {
      color: $blue;
    }
  }
}
